.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 400px;
    padding: 40px;
    background-color: #7B919C;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .card-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .btn-assign {
    background-color: #7B919C;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .btn-assign:hover {
    background-color: #7DA0CA;
  }
  
  .Toastify__toast-container {
    z-index: 1001;
    margin-top: 50px;
  }
  
  /* Adjust the z-index of the toast notifications to appear above other elements */
  .Toastify__toast {
    z-index: 1002;
  }  