.course-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .course-card {
    width: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .course-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .course-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }
  
  .course-details p {
    font-size: 14px;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .course-details {
    margin-top: 10px;
  }
  
  .course-details p {
    margin-bottom: 5px;
  }
  
  .course-details span {
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }
  
  
  
  .course-card:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }
  

  