.dashboard-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .dashboard-heading {
    color: #FF4081; /* Replace with your preferred color between red and pink */
  }
  
  .course-details-list {
    list-style-type: none;
    padding: 0;
  }
  
  .course-details-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px;
  }
  
  .course-requests-list {
    list-style-type: none;
    padding: 0;
  }
  
  .course-requests-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px;
  }
  